.mineBtn {
    background-color: #3e596d;
    color: white;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 7px 0 #3d5261;
    transition: scale 0.3s var(--ease-out);
}

.mineBtn:hover {
    cursor: pointer;
}

.btnLoading {
    scale: 0.8;
}

.minesAnsWrapper {
    background-color: #17202d;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
}

.diamond {
    width: 80px;
    height: 80px;
}